wget
numpy
motor
pillow
psutil
future
asyncio
aiohttp
aiofiles
requests
tgcrypto
dnspython
speedtest-cli
ffmpeg-python
python-dotenv
pyrogram==2.0.102
py-tgcalls==0.9.7
yt-dlp==2023.03.04
youtube-search
youtube-search-python==1.6.6
