wget
numpy
motor
pillow
psutil
future
asyncio
aiohttp
aiofiles
requests
tgcrypto
dnspython
speedtest-cli
ffmpeg-python
python-dotenv
pyrogram==1.4.16
py-tgcalls==0.9.7
yt-dlp==2021.12.01
youtube-search
youtube-search-python==1.4.9







