aiohttp
numpy
aiofiles
asyncio
dnspython
ffmpeg-python
future
yt-dlp==2021.12.01
motor
pillow
psutil
pyrogram==1.4.16
py-tgcalls==0.9.7
python-dotenv
requests
speedtest-cli
tgcrypto
wget
youtube-search
youtube-search-python==1.4.9
